.navbar {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  min-height: 4.9rem;
}
.nav-holder {
  position: sticky;
}
.logo {
  width: 200px;
}
.login-btn {
  background: #0a886dd0;
  border-radius: 5px;
  color: white;

  border: none;
  padding: 0.5rem 0.7rem;
}
.login-btn a {
  text-decoration: none;
  font-weight: 700;
  padding: 0.5rem 0.7rem;
  color: white !important;
}
.login-btn:hover a {
  color: white;
  padding: 0.5rem 0.7rem;
}

.link-item a {
  padding: 0.5rem 0.7rem;
  color: white;
  transition: 0.3s;
  color: white;
}
.bg-brand {
  background-color: rgba(28, 40, 65, 0.555);
  padding: 1rem;
  border-radius: 10px;
  margin-top: 0.5rem;
  min-height: 4.9rem;
}
.link-item a:hover {
  border-bottom: 6px solid rgba(18, 21, 63, 0.884);
  background-color: rgba(14, 23, 41, 0.555);
  /* padding:0.35rem 0.7rem; */
  text-decoration: none;
  border-radius: 4px;
}
.nav-holder a {
  text-decoration: none;
  color: rgb(235, 227, 227);
}
.counter {
  background-color: blue;
}
@media (max-width: 900px) {
  .nav {
    margin-left: 0px;
    flex-direction: column;
    background: rgb(177, 177, 177);
  }
  .logo {
    width: 150px;
    display: flex;
    justify-content: left;
  }
}
