.login-box {
  background-color: rgba(2, 145, 133, 0.37);
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  padding: 5rem;
}
.login-img {
  width: 15rem;
}
